body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: black;
  background: url('http://www.photoshopplus.com/images/products/free/tiny_metal_patterns/slider/tiny_metal_20.jpg');
}
